*{
    font-family: 'Aclonica' , sans-serif;
}

.navbar{
    display: flex;
    justify-content: left;
    gap: 250px;
    margin-left: 200px;
}

.navbar a{
    font-size: 20px;
    /* text-decoration: underline;
    text-decoration-thickness: 1px;
    color: darkred; */
}

/* .hero-section{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
} */

.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: -10;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -10;
}

.hero-text{
    margin-top: 1.5rem;
    color: #f3f4f6;
    line-height: 1.5;
    font-size: 12px;
}

.cinema-title{
    letter-spacing: 4px;
}

.logo-text{
    letter-spacing: 2px;
}

.modal-header{
    background: linear-gradient(80deg, #b91c1c, black );
    padding: 0.5rem 1rem;
}