* {
    font-family: 'Aclonica', sans-serif;
}

.navbar {
    display: flex;
    justify-content: left;
    gap: 180px;
    margin-left: 200px;
}

.navbar a {
    font-size: 20px;
    /* text-decoration: underline;
    text-decoration-thickness: 1px;
    color: darkred; */
}

.hero-section {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 800px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -10;
}

.hero-text {
    margin-top: 1.5rem;
    color: #f3f4f6;
    line-height: 1.5;
    font-size: 12px;
}

.cinema-title {
    letter-spacing: 4px;
}

.logo-text {
    letter-spacing: 2px;
}

.modal-header {
    background: linear-gradient(80deg, #b91c1c, black);
    padding: 0.5rem 1rem;
}

.movie-carousel {
    background-color: #2C2424;
}

.movie-card img {
    width: 200px;
    height: 300px;
}

.popular {
    background-color: #1A1414;
}

.movie-popular {
    background-color: #1A1414;
}

.movie-card1 img {
    width: 200px;
    height: 300px;
}

.movie-card p{
    text-align: center;
}

.home-section{
    position: relative;
    background-image: url(/assets/images/movie.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 18rem 1rem;
    overflow: hidden;
}

.home-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: 0;
}

.home-section *{
    position: relative;
    z-index: 1;
}

.home-content h2{
    font-size: 2rem;
    font-weight: bold;
    color: #b91c1c;
    background-color: white;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}

.home-content p{
    margin: 1rem;
    font-size: 1.1rem;
    color: black;
    font-weight: bolder;
}

.search-bar{
    display: inline-flex;
}

.search-bar input{
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
}

.search-bar button{
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}