*{
    font-family: 'Aclonica' , sans-serif;
}

.navbar{
    display: flex;
    justify-content: left;
    gap: 250px;
    margin-left: 200px;
}

.navbar a{
    font-size: 20px;
    /* text-decoration: underline;
    text-decoration-thickness: 1px;
    color: darkred; */
}

.hero-image{
    position: absolute;
    
    width: 100%;
    height: 700px;
    object-fit: cover;
    /* z-index: -10; */
}